@layer components {
  .addLengthHover {
    transform: scaleX(1);
  }

  .addLengthHover:hover {
    transform: scaleX(1.2) !important;

    background-color: rgb(164, 164, 164);
  }

  .border_bg {
    border: 0.5px solid rgb(165, 165, 165);
    border-radius: 4px;
    background-color: black;
    color: white;
    text-align: start;
  }

  .generic_height {
    height: 30px;
  }
}
.ease-bounce {
  transition-timing-function: cubic-bezier(0.68, -0.4, 0.32, 1.4);
}

.card-shadow {
  box-shadow:
    rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.inner-shadow {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
