@import "tailwindcss";
@import "./components/binanceLiquiMap/components/nav/nav.css";

.asd {
  background-color: #5600bf;
  background-color: #00bcc6;
  background-color: #00960a;
  background-color: #b7b700;
  background-color: #ff0000ed;
}
